<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>forget me not.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E79716DC1DEF5A99002F5B98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E79716F31DEF5A9C002F5B98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E79716FE1DEF5A9C002F5B98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
